<div class="panel panel-default">
  <div class="panel-body">
    <form id="song-edit" #f="ngForm" (ngSubmit)="onSubmit(f)">

      <!-- Input artist/group name -->
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="artist">Artist:</label>
          <input 
            type="text"
            id="artist"
            class="form-control"
            size="120"
            max="120"
            name="artist"
            [ngModel]="song?.artist"
            #artist="ngModel"
          >
        </div>
      </div>
      <!-- Song title -->
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="title">Song Title:</label>
          <input 
            type="text"
            id="title"
            class="form-control required"
            size="120"
            max="120"
            name="title"
            [ngModel]="song?.title"
            #title="ngModel"
            required
          >
        </div>
      </div>
      <!-- Album title -->
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="album">Album Name:</label>
          <input 
            type="text"
            id="album"
            class="form-control"
            size="120"
            max="255"
            name="album"
            [ngModel]="song?.album"
            #album="ngModel"
          >
        </div>
      </div>
      <!-- Song Video URL -->
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="videoUrl">Video URL:</label>
          <input 
            type="text"
            id="videoUrl"
            class="form-control"
            size="120"
            max="120"
            name="videoUrl"
            [ngModel]="song?.videoUrl"
            #videoUrl="ngModel"
          >
        </div>
      </div>

      <div
        class="alert alert-danger"
        *ngIf="
          (!title.valid && title.touched)
        "
      >
        The song title is required.
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">
            save
          </button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>