<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading col-xs-12">
      <div class="row col-xs-12">
        <span class="heading pad-left-right">Songs</span>
      </div>
      <div class="row col-xs-12">
        <div class="input-group pull-left pad-lef-right col-xs-7">
          <input
            type="text"
            id="searchBox"
            #searchBox
            (keyup)="search(searchBox.value)"
            class="form-control"
            place="Enter a search value"
          />

          <div
            class="glyphicon glyphicon-search input-group-addon"
            (click)="search(searchBox.value)"
          ></div>
        </div>
        <div class="pull-right pad-left-right">
          <a class="btn btn-success" [routerLink]="['new']">New Song</a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 margin-top">
          <app-song-item
            *ngFor="let songEl of songs | songsFilter : term"
            [song]="songEl"
          ></app-song-item>
        </div>
      </div>
    </div>
  </div>
</div>
