<!-- <p>{{ "Server" }} with ID {{ serverId }} is {{ serverStatus }}</p> -->
<!-- <p [ngStyle]="{'background-color'}">{{ "Server" }} with ID {{ serverId }} is {{ serverStatus }}</p> -->
<!-- <p [ngStyle]="{backgroundColor: 'red'}">{{ "Server" }} with ID {{ serverId }} is {{ serverStatus }}</p> -->
<!-- <p [ngStyle]="{backgroundColor: getColor()}">{{ "Server" }} with ID {{ serverId }} is {{ serverStatus }}</p> -->
<p 
    [ngStyle]="{backgroundColor: getColor()}"
    [ngClass]="{online: serverStatus === 'online'}">
    {{ "Server" }} with ID {{ serverId }} is {{ serverStatus }}
</p>

<!-- If using the method getServerStatus -->
<!-- <p>{{ "Server" }} with ID {{ serverId }} is {{ getServerStatus() }}</p> -->
